<!DOCTYPE html>
<html>
  <head>
    <title>OnitamaV2</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <%= yield %>
    </body>
  </html>
